<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>App needs your camera permission to capture image.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App needs your microphone permission to get your cough sample.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
    
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.163015622468-llnv9nkc8o9b270e35kut599jleouj2l</string>
        </array>
      </dict>
    </array>
    
    
    <key>GIDServerClientID</key>
    <string>163015622468-79fajd2tmftat3qhc1a16nejimm0q28g.apps.googleusercontent.com</string>
    
    <key>GIDClientID</key>
    <string>163015622468-llnv9nkc8o9b270e35kut599jleouj2l.apps.googleusercontent.com</string>
    
    
</dict>

</plist>
